.cuadrofondo {
	background-color: #fd0d00;
    margin-left: auto;
    margin-right: auto;
	width: 700px; 
}

.cuadroazul {
	background-color: #0657c2;
	height: 500px;
	width: 650px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cuadroazul2 {
	background-color: #0c4c67;
	height: 280px;
	width: 650px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
}

.cuadroamarillo {
	background-color: #ff9c00;
	height: 100px;
	width: 650px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;


